<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="Symptoms-tab" data-toggle="tab" href="#Symptoms" role="tab" aria-controls="Symptoms"
                aria-selected="true">Symptoms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Prevention-tab" data-toggle="tab" href="#Prevention" role="tab" aria-controls="Prevention"
                aria-selected="false">Prevention</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Treatments-tab" data-toggle="tab" href="#Treatments" role="tab" aria-controls="Treatments"
                aria-selected="false">Treatments</a>
            </li>
        </ul>
        <br>
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="Symptoms" role="tabpanel" aria-labelledby="Symptoms-tab">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img src="assets/Images/Fever.gif" style="width: 100px; height: 100px;">
                        <p>Fever</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img src="assets/Images/Dry-Cough.gif" style="width: 100px; height: 100px;">
                        <p>Dry Cough</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img src="assets/Images/Tiredness.gif" style="width: 100px; height: 100px;">
                        <p>Tiredness</p>
                    </div>
                </div>
                <hr>
                <p>COVID-19 affects different people in different ways.<br>Most infected people will develop mild to moderate illness and recover without hospitalization.</p>
                <hr>
                <p style="font-weight: bold;">Most common symptoms:</p>
                <ul>
                    <li>Fever</li>
                    <li>Dry Cough</li>
                    <li>Tiredness</li>
                </ul>
                <p style="font-weight: bold;">Less common symptoms:</p>
                <ul>
                    <li>Aches and Pains</li>
                    <li>Sore Throat</li>
                    <li>Headache</li>
                    <li>Loss of Taste or Smell</li>
                    <li>A Rash on Skin, or Discolouration of Fingers or Toes</li>
                </ul>
                <p style="font-weight: bold;">Serious symptoms:</p>
                <ul>
                    <li>Difficulty breathing or Shortness of breath</li>
                    <li>Chest pain or Pressure</li>
                    <li>Loss of speech or Movement</li>
                </ul>
            </div>

            <div class="tab-pane fade" id="Prevention" role="tabpanel" aria-labelledby="Prevention-tab">
                <div class="row">
                    <div class="col-lg-12 col-sm-6 text-center">
                        <img src="assets/Images/Wear-Mask.gif" style="width: 100px; height: 100px;">
                        <h3>Wear a mask. Save lives.</h3>
                    </div>
                </div>
                <hr>
                <p>Protect yourself and others around you by knowing the facts and taking appropriate precautions.<br>Follow advice provided by your local health authority.</p>
                <hr>
                <p style="font-weight: bold;">To prevent the spread of COVID-19:</p>
                <ul>
                    <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
                    <li>Maintain a safe distance from anyone who is coughing or sneezing.</li>
                    <li>Wear a mask when physical distancing is not possible.</li>
                    <li>Don’t touch your eyes, nose or mouth.</li>
                    <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li>
                    <li>Stay home if you feel unwell.</li>
                    <li>If you have a fever, cough and difficulty breathing, seek medical attention.</li>
                </ul>
                <br>
                <p>Calling in advance allows your healthcare provider to quickly direct you to the right health facility.<br>This protects you, and prevents the spread of viruses and other infections.</p>
                <br>
                <p>Masks can help prevent the spread of the virus from the person wearing the mask to others.<br>Masks alone do not protect against COVID-19, and should be combined with physical distancing and hand hygiene.<br>Follow the advice provided by your local health authority.</p>
            </div>

            <div class="tab-pane fade" id="Treatments" role="tabpanel" aria-labelledby="Treatments-tab">
                <div class="row">
                    <div class="col-lg-12 col-sm-6 text-center">
                        <img src="assets/Images/Virus-Treatment.gif" style="width: 50%;">
                    </div>
                </div>
                <hr>
                <p>To date, there are no specific vaccines or medicines for COVID-19.<br>Treatments are under investigation, and will be tested through clinical trials.</p>
                <br>
                <p style="font-weight: bold;">Self care</p>
                <p>If you feel sick you should rest, drink plenty of fluid, and eat nutritious food.<br>Stay in a separate room from other family members, and use a dedicated bathroom if possible.<br>Clean and disinfect frequently touched surfaces.</p>
                <p style="font-weight: bold;">Medical treatments</p>
                <p>If you have mild symptoms and are otherwise healthy, self-isolate and contact your medical provider or a COVID-19 information line for advice.<br>Seek medical care if you have a fever, a cough, and difficulty breathing. Call in advance.</p>
            </div>

        </div>
    </div>
</div>